<!-- Sidebar -->
<ul class="side-nav fixed" id="nav-mobile" style="width: 220px;">
    <li class="bold" style="border-bottom: 1px solid #ccc;"><a class="waves-effect waves-light center-align red-text tx-lg tx-uppercase" href="/">Job Finder</a></li>

    <li class="no-padding">
        <ul class="collapsible" data-collapsible="accordion">
            <li class="bold active"><a class="collapsible-header"><i class="material-icons">&#xE164;</i> Sort By</a>
                <div class="collapsible-body" style="display: block">
                    <ul>
                        <li><a href="javascript:void(0);" ng-click="sort.update('freshness')">Freshness <span ng-show="(sort.value == 'freshness' ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="sort.update('highest')">Highest Salary <span ng-show="(sort.value == 'highest' ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="sort.update('lowest')">Lowest Salary <span ng-show="(sort.value == 'lowest' ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible" data-collapsible="accordion">
            <li class="bold active"><a class="collapsible-header"><i class="material-icons">&#xE152;</i> Filter Results</a>
                <div class="collapsible-body" style="display: block">
                    <ul>
                        <li><a href="javascript:void(0);" ng-click="filter.update(-1, -1)">Any salary <span ng-show="((filter.min == -1 && filter.max == -1) ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="filter.update(-1, 3999)">&lt; Rs. 3999 <span ng-show="((filter.min == -1 && filter.max == 3999) ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="filter.update(4000, 7999)">Rs 4000 - Rs 7999 <span ng-show="((filter.min == 4000 && filter.max == 7999) ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="filter.update(8000, 11999)">Rs 8000 - Rs 11999 <span ng-show="((filter.min == 8000 && filter.max == 11999) ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                        <li><a href="javascript:void(0);" ng-click="filter.update(11999, -1)">&gt; Rs. 11999 <span ng-show="((filter.min == 11999 && filter.max == -1) ? true : false)" class="green-text"><i class="material-icons">&#xE86C;</i></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<main id="app-content">
    <div class="content">
        <div class="row">
            <div class="col m9">
                <div class="row mb0">
                    <div class="col s12">
                        <div class="card grey lighten-3">
                            <div class="card-content">
                                <span class="card-title">Search jobs</span>

                                <form ng-submit="search.find()">
                                    <div class="row mb0">
                                        <div class="col s5">
                                            <div class="input-field">
                                                <input type="text" ng-model="search.text" placeholder="Eg Driver" />
                                            </div>
                                        </div>

                                        <div class="col s4">
                                            <div class="input-field">
                                                <select ng-model="search.location" class="browser-default" ng-options="city.id as city.name for city in cities"></select>
                                            </div>
                                        </div>

                                        <div class="col s3 center-align">
                                            <div class="input-field">
                                                <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb0" ng-repeat="job in jobs">
                    <div class="col s12">
                        <div class="card white">
                            <div class="card-content">
                                <span class="card-title">{{ job.title }}</span>
                                <p class="teal-text tx-md">Salary Rs. {{ job.salary }} per month</p>
                                <p class="mt10">{{ job.description }}</p>
                                <p class="mt10">Location: {{ city(job.location) }}</p>
                            </div>

                            <div class="card-action">
                                <a href="#" class="btn waves-effect waves-light">Apply</a>
                                <a href="#" class="btn-flat waves-effect waves-darken grey-text darken-2">More info</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb0" ng-show="!jobs.length">
                    <div class="col s12">
                        <div class="card white">
                            <div class="card-content">
                                <p>No jobs to show.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col m3">
                <img src="http://placehold.it/300x550" alt="Advertisement" class="responsive-img" />
            </div>
        </div>
    </div>
</main>